h2{
    background-color:rgb(150, 72, 196);
    /* turquoise/skyblue/tomato/acquamarine */
    color: black;
}

body{
    background-color: teal;
}

div{
    background-color: blue;
    width: 50px;
    margin: 100px; /* inherit: herda do elemento pai */
    /* margin-bottom: 50px;
    margin-left: 50px; 
    margin-right: 50px; */
}