.flex-container{
    background-color: cadetblue;
    display: flex;
    flex-flow: column wrap;
}

.flex-itens{
    background-color: chocolate;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}